:root {
    --orange: #f95103;
    --black: #000;
    --white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*---- Navbar ----*/

.navbar {
    background: var(--black);
    height: 80px;
    padding: 0.5rem calc((100vw - 1200px)/ 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-logo {
    height: 72px; 
    width: 250px;
}

.navbar-link {
    color: var(--white);
    text-decoration: none;
    padding: 0rem .5rem;
}

.navbar-link:hover {
    color: var(--orange);
}

@media screen and (max-width: 768px) {
    body.active {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .navbar-link {
        display: flex;
        align-items: center;
        justify-content:  center;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 100px);
        position: absolute;
        width: 100%;
        top: -1000px;
    }

    .navbar-menu.active {
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 24vh;
        font-size: 1.5rem;
        background: var(--black);
    }

    .navbar-toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--white);
        display: block;
    }

    #mobile-menu {
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(5%, 20%);
        cursor: pointer;
        margin-top: 8px;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 500px) {
    .navbar-logo {
        height: 60px; 
        width: 190px;
    }
}

/*---- Hero ----*/

.hero {
    background: url('../images/plane-sunset.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.hero-content {
    padding: 3rem 1rem;
}