:root {
    --orange: #f95103;
    --black: #000;
    --white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 21px;
    padding: 10px;
    line-height: 1.2;
}

ul {
    margin: 10px 0 10px  50px;
    list-style-type: none;
    line-height: 1.6;
}

li {
    font-size: 20px;
    font-weight: 600;
}

/*---- Navbar ----*/

.navbar {
    background: var(--black);
    height: 80px;
    padding: 0.5rem calc((100vw - 1200px)/ 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-logo {
    height: 72px; 
    width: 200px;
}

.navbar-menu {
    padding-right: 20px;
}

.navbar-link {
    color: var(--white);
    text-decoration: none;
    padding: 0rem .5rem;
}

.navbar-link:hover {
    color: var(--orange);
}

@media screen and (max-width: 768px) {
    body.active {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .navbar-link {
        display: flex;
        align-items: center;
        justify-content:  center;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 100px);
        position: absolute;
        width: 100%;
        top: -1000px;
    }

    .navbar-menu.active {
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 24vh;
        font-size: 1.5rem;
        background: var(--black);
    }

    .navbar-toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--white);
        display: block;
    }

    #mobile-menu {
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(5%, 20%);
        cursor: pointer;
        margin-top: 8px;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 500px) {
    .navbar-logo {
        height: 60px; 
        width: 170px;
    }

    .navbar-menu {
        grid-template-rows: repeat(2, 70px);

    }
}

/*---- Hero ----*/

.hero {
    background: url('../images/plane-sunset.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.hero-content {
    padding: 3rem 1rem;
}

.hero-logo {
    margin-bottom: 20px;
}

@media screen and (max-width: 390px) {
    .hero-logo {
        height: 60px;
        width: 145px;
    }
}

/*---- Info Section ----*/

.info-container {
    max-width: 1200px;
    margin: auto;
    border: 2px solid var(--orange);
}

.info-header {
    text-align: center;
    padding: 60px 20px;
    font-size: 32px;
    background-color: var(--black);
    color: var(--white);
}

.info-box1,
.info-box3,
.info-box5 {
    display: flex;
    border: 2px solid green;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
    width: 100%;
}

.info-box2,
.info-box4,
.info-box6 {
    display: flex;
    border: 2px solid green;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


.box1-text,
.box2-text,
.box3-text,
.box4-text,
.box5-text,
.box6-text {
    max-width: 500px;
    margin: 10px 20px;
    border: 2px solid red;
}

.box1-img, 
.box2-img,
.box3-img,
.box4-img,
.box5-img,
.box6-img {
    margin: 10px 20px;
    border: 2px solid red;
}

.cert-container {
    text-align: center;
    padding: 20px;
}

.list-title {
    font-weight: 700;
}

.plane-icon {
    filter: invert(42%) sepia(53%) saturate(4271%) hue-rotate(359deg) brightness(98%) contrast(100%);
}

.box1-img {
    max-width: 50%;
    height: auto;
}

@media screen and (max-width: 1185px) {
    .box1-img {
        max-width: 90%;
        height: auto;
    }

    .box1-text,
    .box2-text,
    .box3-text,
    .box4-text,
    .box5-text,
    .box6-text {
        max-width: 90%;
        margin: 10px 20px;
        border: 2px solid red;
    }
}

@media screen and (max-width: 540px) {
    p {
        font-size: 18px;
    }

    ul {
        margin: 10px 0 10px  30px;
    }
    
    li {
        font-size: 16px;
    }

    .plane-icon {
        width: 13px;
    }
}

@media screen and (max-width: 450px) {
    p {
        font-size: 16px;
    }

    ul {
        margin: 10px 0 10px  30px;
    }
    
    li {
        font-size: 14px;
    }

    .plane-icon {
        width: 12px;
    }
}

@media screen and (max-width: 375px) {
    p {
        font-size: 14px;
    }

    ul {
        margin: 8px 0 8px  10px;
    }
    
    li {
        font-size: 13px;
    }

    .plane-icon {
        width: 11px;
    }
}

@media screen and (max-width: 300px) {
    .info-header {
        font-size: 24px;
    }
    
    .box1-img {
        max-width: 90%;
        height: auto;
    }

    .box1-text,
    .box2-text,
    .box3-text,
    .box4-text,
    .box5-text,
    .box6-text {
        max-width: 90%;
        margin: 0;
    }
}